body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(144, 138, 138);
    /* padding: 10px; */
}

.logo{
    width: 120px;
}

.nav-items > ul{
    font-size: 20px;
    display: flex;
    list-style: none;
    /* padding: 0; */
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s, transform 0.3s;
}
.nav-items > ul >li:hover{
    /* background-color: rgb(187, 184, 184); */
    border-radius: 13px;
    border: 1px solid black;
}
.search{
    padding: 8px;
}

.res-card{
    /* display: flex; */
    width: 180px;
    background-color: #f0f0f0;
    margin: 5px;
    padding: 10px;
    /* border: 1px solid black; */
    /* border-radius: 5px; */
}
.res-card h3, .res-card h4, .res-card h5 {
    margin: 10px 5px; /* Add margin for spacing */
}

.res-card:hover{
    border: 1px solid rgb(130, 126, 126);
    cursor: pointer ;
}

.res-logo{
    width: 100%;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* padding-top: ; */
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
    background-color: #008cba; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
    transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.filter-btn:hover {
    background-color: #005f6b; /* Darker blue background on hover */
    transform: scale(1.05); /* Slightly increase the size */
  }


.login-btn{
    padding: 0px 20px;
    margin: 10px;
    width: 100px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #008cba; /* Initial background color */
    color: white; /* Initial text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */

}

.login-btn:hover {
  background-color: #005f6b; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
  transform: scale(1.1); /* Slightly increase size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}

.searchBox{
    margin: 8px;
    /* padding: 5px; */
    padding: 5px ;  
    width: 100%;

}

.filter{
    display: flex;
}